// .wrapper {

// }

.section-body {
  padding: 50px 50px 50px 50px;
  background-color: rgb(239, 239, 247);
}
.category {
  display: inline-block;
}

.categories {
  text-align: center;
  width: 150px;
  font-size: 12px;
  cursor: pointer;
  border: 0;
  height: 30px;
  color: white;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animal {
  background-color: rgb(245, 19, 49);
}
.career {
  background-color: rgb(221, 78, 11);
}
.celebrity {
  background-color: rgb(247, 169, 52);
}
.dev {
  background-color: rgb(238, 238, 51);
  color: black;
}
.explicit {
  background-color: rgb(98, 240, 98);
}
.fashion {
  background-color: rgb(139, 196, 139);
}
.food {
  background-color: rgb(125, 125, 238);
}

.history {
  background-color: rgb(245, 19, 49);
}
.money {
  background-color: rgb(221, 78, 11);
}
.movie {
  background-color: rgb(247, 169, 52);
}
.political {
  background-color: rgb(238, 238, 51);
  color: black;
}
.religion {
  background-color: rgb(98, 240, 98);
}
.science {
  background-color: rgb(139, 196, 139);
}
.sport {
  background-color: rgb(125, 125, 238);
}
.travel {
  background-color: rgb(238, 238, 51);
  color: black;
}
.music {
  background-color: rgb(247, 169, 52);
}

.cat-loadmore {
  background-color: transparent;
  border: 1px solid rgb(202, 192, 134);
  height: 30px;
  width: 130px;
  text-align: center;
  font-size: 12px;
  color: rgb(202, 192, 134);
  cursor: pointer;
}
.load-more-img {
  float: right;
}

.selected {
  background-color: rgb(124, 223, 124);
  margin-top: 25px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.col {
  grid-column: span 3;
}
.card {
  width: 300px;
  height: 200px;
  border: 0.5px solid rgb(214, 209, 209);
  background-color: white;
  // box-shadow: 2px 2px 2px 2px rgba(107, 105, 105, 0.3);
}
.joke-title {
  margin: 5px 5px 5px 5px;
}

.joke-value {
  font-size: 12px;
  margin: 5px 5px 5px 5px;
  overflow: hidden;
  overflow-y: scroll;
  height: 130px;
}
.load-more-button {
  display: flex;
  justify-content: baseline;
}
.joke-link {
  height: 100px;
  vertical-align: bottom;
  float: right;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
.btn {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 130px;
  text-align: center;
  font-size: 12px;
  color: rgb(202, 192, 134);
  cursor: pointer;
}
.footer {
  height: 200px;
  background-image: url("../../assets/assets_Homework_Front-End_02/bitmap-copy.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .col {
    grid-column: span 12;
  }
  .card {
    width: 100%;
  }
  .load-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    grid-template-rows: repeat(0, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .col {
    grid-column: span 6;
  }
}
@media only screen and (min-width: 992px) {
  .col {
    grid-column: span 3;
  }
}
